alembic==1.0.1
Click==7.0
Flask==1.0.2
Flask-JWT==0.3.2
Flask-Migrate==2.3.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Jinja2==2.10
Mako==1.0.7
nltk==3.3
numpy==1.15.2
pandas==0.23.4
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2018.5
scikit-learn==0.20.0
scipy==1.1.0
sklearn==0.0
SQLAlchemy==1.2.12
Werkzeug==0.14.1
syspath==1.1.0
aniso8601==5.1.0
itsdangerous==1.1.0
MarkupSafe==1.1.1
relativetimebuilder==0.2.0
six==1.12.0

